# Ignore node_modules folder
node_modules/

# Ignore environment variables file
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build files
dist/

# Ignore logs
logs/

# Ignore coverage
coverage/